<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<div id="app">
		<h2>Cats</h2>
		<div v-for="(cat, n) in cats">
			<p>
				<span class="cat">{{ cat }}</span>
				<button @click="removeCat(n)">Remove</button>
			</p>
		</div>

		<p>
			<input v-model="newCat">
			<button @click="addCat">Add Cat</button>
		</p>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
			data() {
				return {
					cats: [],
					newCat: null
				}
			},
			mounted() {
				if (localStorage.getItem('cats')) {
					try {
						this.cats = JSON.parse(localStorage.getItem('cats'));
					} catch(e) {
						localStorage.removeItem('cats');
					}
				}
			},
			methods: {
				addCat() {
					// 実際に何かしたことを入力する
					if (!this.newCat) {
						return;
					}

					this.cats.push(this.newCat);
					this.newCat = '';
					this.saveCats();
				},
				removeCat(x) {
					this.cats.splice(x, 1);
					this.saveCats();
				},
				saveCats() {
					const parsed = JSON.stringify(this.cats);
					localStorage.setItem('cats', parsed);
				}
			}
    })
	</script>
	
</body>
</html>