<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<form action="">
			氏名 <input type="text" v-model="yourName">
			<br>
			電話 <input type="tel" v-model="contact.tel">
			<br>
			メール <input type="email" v-model="contact.email">
			<br>
			性別
			<input type="radio" value="male" v-model="contact.gender">
			<input type="radio" value="female" v-model="contact.gender">
			<input type="radio" value="other" v-model="contact.gender">
			<input type="submit">送信
		</form>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data() {
				return {
					contact: {
						yourName: '',
						tel: '',
						email: '',
						gender: '',
						age: '',
						message: '',
						attracts: [],
						caution: false
					}
				}		
			},
			methods: {
				
			},
			computed: {
				yourName: {
					get() {
						return this.contact.yourName
					},
					set() {

					}
				}
			}
		});
	</script>
</body>
</html>